.icon {
  &--role-engineering {
    background: image-url('icons/roles/engineering.svg') center center no-repeat;
  }
  &--role-design {
    background: image-url('icons/roles/design.svg') center center no-repeat;
  }
  &--role-strategy {
    background: image-url('icons/roles/strategy.svg') center center no-repeat;
  }

  &--project-seg {
    background: image-url('icons/projects/seg.svg') center center no-repeat;
    &--colored-bg {
      background-color: $seg;
    }
  }
  &--project-ord {
    background: image-url('icons/projects/ord.svg') center center no-repeat;
    &--colored-bg {
      background-color: $ord;
    }
  }
  &--project-gbmp {
    background: image-url('icons/projects/gbmp.svg') center center no-repeat;
    &--colored-bg {
      background-color: $gbmp;
    }
  }
  &--project-tech {
    background: image-url('icons/projects/tech.svg') center center no-repeat;
    &--colored-bg {
      background-color: $tech;
    }
  }
  &--project-cap {
    background: image-url('icons/projects/cap.svg') center center no-repeat;
    &--colored-bg {
      background-color: $cap;
    }
  }
  &--project-futures {
    background: image-url('icons/projects/futures.svg') center center no-repeat;
    &--colored-bg {
      background-color: $futures;
    }
  }
}